/*PRUEBAS  */
*{
  padding: 0em;
  margin: 0;
  box-sizing: border-box;
}

body{
background-image: url(../assets/img/background/background--14.jpg);
background-attachment: fixed;
}
/* SECCIONES */
.seccion{
  height: 100%;
  width: 100%;
}
.seccion__header{
  width: 100%;
  height: 100vh;
  background-color: #226622fa;
  padding: 5%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.seccion__productos{
  width: 100%;
  height: 100vh;
  padding: 5%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.seccion__productos h4{
  color: aliceblue;
  font-family: 'Montserrat', monospace;
  font-size: 2em;
  font-weight:lighter;
}
.seccion__noticias{
  width: 100%;
  height: 80vh;
}
.seccion__quienesSomos{
  width: 100%;
  height: 100vh;
  background-color: #338866;
}
.seccion__unete{
  width: 100%;
  height: 80vh;
}


/*FIN SECCIONES*/



/* TARJETAS */
.producto__tarjeta{
  margin: 1em;
  display: flex;
  flex-direction: column;
  background: linear-gradient(235deg, rgba(41,41,41,1) 0%, rgba(56,56,56,1) 47%, rgba(79,79,79,1) 100%);   width: 15em;
  height: 20em;
  width: 15em;
  border-radius: 0.5em;
  color: aliceblue;
  font-size: smaller;
  position: relative;
  transition: 0.2s;
  border: 0px;
  box-shadow: 0.4em 0.2em 1em #11111188;
}
.producto__tarjeta:hover{
  margin-top: 0.8em;
  background: linear-gradient(235deg, rgba(34,34,34,1) 0%, rgba(51,51,51,1) 47%, rgba(68,68,68,1) 100%);
  box-shadow: -0.4em -0.2em 1em #11111188;
}
.producto__tarjeta--imagen img{
  width: 15em;
  height:20em;
  border-radius: 0.5em;
}
.producto__tarjeta--detalle{
  position: absolute;
  background-color: #111111ef;
  padding: .5em;
  width: 100%;
  bottom: 0;
  height: 50%;
  border-radius: 0 0 0.5em 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.producto__tarjeta--detalle p:last-child{
color: #00cc00;
}

.contenedor__tarjetas{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 11em 1.3em auto 10em;
  grid-template-areas: 'col1 col2 col3 col4 col5 col6 col7 col8 col9 col10 col11 col12';
}
/* FIN TARJETAS */

/* FIN PRUEBAS */